<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devoops</title>
    <meta name="description" content="@ViewData["Description"]" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/devoops.styles.css" asp-append-version="true" />
</head>
<body>
    <header >
        <article class="p-3" style="background: var(--bs-grandient);">
            <div class="container-md">
                <div>
                    <span class="text-white">
                        <h1>ObrasCorps Analytics</h1>
                        <p>Evolução de Obras - Análise Detalhada</p>
                    </span>
                </div>
            </div>
        </article>
    </header>
    <br>
    <header>
        <article>
            <div class="container-md">
                <nav style="border-radius: 15px;" class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1 gap-3 justify-content-center">
                                <li class="nav-item">
                                    <a onmouseout="this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius=' 5px';" onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius=' 5px';"  class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a onmouseout="this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius=' 5px';" onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius=' 5px';"   class="nav-link" asp-area="" asp-controller="#" asp-action="#">Projetos</a>
                                </li>
                                <li class="nav-item">
                                    <a onmouseout="this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius=' 5px';" onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius=' 5px';"   class="nav-link" asp-area="" asp-controller="#" asp-action="#">Colaboradores</a>
                                </li>
                                <li class="nav-item">
                                    <a onmouseout="this.style.color='#333'; this.style.backgroundColor='transparent'; this.style.borderRadius=' 5px';" onmouseover="this.style.color='white'; this.style.backgroundColor='#1e40af'; this.style.borderRadius=' 5px';"   class="nav-link" asp-area="" asp-controller="#" asp-action="#">Fornecedores</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>    
        </article>        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - devoops - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
